@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:currentColor;stroke:currentColor;stroke-width:.0419595'/%3E%3C/svg%3E") 8 8, pointer;
    background: linear-gradient(90deg, #ffb347 0%, #ffcc66 100%);
    margin: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth; /* Voegt soepele scroll-effecten toe */
}

iframe {
    transition: transform 0.55s ease-in-out;
}

iframe:hover {
    transform: scale(1.1);
}

h1 {
    transition: color 0.55s ease-in-out;
}

h1:hover {
    color: orangered;
}

.fade-in-text {
    opacity: 0;
    animation: fadeIn 1.1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
h6 {
    font-size: 90px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
    padding-left: 10px;
    transition: color 0.55s ease-in-out;
}
h5 {
    font-size: 87px;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    padding-left: 40px;
    padding-top: 5px;
    color: #2c3e50;
    margin-bottom: 0px;
    transition: color 0.55s ease-in-out;
}
h5:hover {
    color: orangered;
}
h6:hover {
    color: orangered;
}
.project-in {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    text-align: center;
    transition: transform 0.25s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.5);
}
.project-in:hover {
    transform: scale(1.1);
}

.project {
    padding: 10px;
}

.ptt {
    padding-left: 150px;
}

.flexbox {
    display: flex;
    padding: 10px;
    padding-left: 150px;
}

.projects {
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 0px;
    background: linear-gradient(90deg, #ffb347 0%, #ffcc66 100%);
    display: flex;
}

.box-am {
    box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.5);
    color: black;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.55s ease; /* Voeg een overgang toe aan de transform eigenschap */
}

.box-am:hover {
    transform: scale(1.1); /* Vergroot de schaal bij hover */
}
  

.name-info iframe {
    padding-left: 50px;
    padding-top: 20px;
}
.name-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #ffb347 0%, #ffcc66 100%);
}

.about-me {
    background: linear-gradient(90deg, #ffb347 0%, #ffcc66 100%);
    padding-bottom: 450px;
}
nav {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:currentColor;stroke:currentColor;stroke-width:.0419595'/%3E%3C/svg%3E") 8 8, pointer;
    max-width: 960px;
    margin: 0 auto;
    z-index: 1000;
    }
    
    nav ul {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:currentColor;stroke:currentColor;stroke-width:.0419595'/%3E%3C/svg%3E") 8 8, pointer;
    text-align: center;
    background: none; /* Remove background */
    width: 100%;
    }
    
    nav ul li {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:currentColor;stroke:currentColor;stroke-width:.0419595'/%3E%3C/svg%3E") 8 8, pointer;
    display: inline-block;
    }
    
    nav ul li a {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:currentColor;stroke:currentColor;stroke-width:.0419595'/%3E%3C/svg%3E") 8 8, pointer;
    font-family: "roboto";
    padding: 20px;
    color: black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    font-size: 25px;
    text-decoration: none;
    display: block;
    transition: color 0.55s ease-in-out;
    }
    
    nav ul li a:hover {
    color: orangered;
    }
    nav.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        padding-left: 345px;
    }
    .contact {
        padding-top: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(90deg, #ffb347 0%, #ffcc66 100%);
        padding-bottom: 400px;
    }
    .line {
        width: 100%;
        height: 1px; /* Hoogte van de lijn */
        background-color: #000; /* Kleur van de lijn */
    }
    .space-h1 {
        height: 100px;
        display: flex;
        background: linear-gradient(90deg, #ffb347 0%, #ffcc66 100%);
    }
    .contact-info {
        box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.5);
        background-color: white;
        padding: 10px;
        width: 500px;
        border-radius: 10px;
        transition: transform 0.55s ease-in-out;
    }
    .contact-info:hover {
        transform: scale(1.1);
    }
    .contact-info a {
        color: black;
        text-decoration: none;
        transition: color 0.25s ease-in-out;
    }
    .contact-info a:hover {
        color: orange;
        text-decoration: none;
    }
    header {
        display: flex;
        align-items: center;
    }

    header img {
        margin-left: 20px; /* Voeg wat ruimte aan de linkerkant van het logo toe */
        height: 50px; /* Pas de hoogte van het logo aan zoals gewenst */
    }
    #lastfm-widget {
        border-radius: 5px;
        display: inline-block;
        font-family: Arial, sans-serif;
        display: flex;
        border: 2px linear-gradient(180deg, #FFA500, #FFD700);
        max-width: 350px;
        background: linear-gradient(180deg, #FFA500, #FFD700);
        box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.5);
        height: 115px;
    }

    #artist {
        color: #333;
        margin: 0px;
        padding-bottom: 5px;
    }

    #track {
        color: black;
        margin: 0;
        padding-bottom: 10px;
    }
    #album-cover {
        border-radius: 5px 0 0 5px; /* Linksboven, rechtsboven, rechtsonder, linksonder */
        max-width: 200px;
        max-height: 115px;
    }
    .info {
        padding-left: 10px;
    }
    .il {
        padding-top: 1px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    .playing-now {
        padding-left: 150px;
    }
    .view-more {
        text-decoration: none;
        color: blue;
        transition: color 0.25s ease-in-out;
        font-size: 17px;
    }
    .view-more:hover {
        color: orangered;
    }
